div.section {
float: left;
}

div#objects div.object {
float:left;
padding:1.0em;
}

div#objects div.object h5.title {
height:4em;
margin:0;
}

div#objects div.object div.description {
height:9em;
}

div#objects div.object div.ebookoverview {
height:5em;
}

div.clear {
clear:both;
display:block;
}

a.button {
display:block;
text-decoration:none;
font-family:arial;
font-weight:700;
text-align:center;
background-color:gray;
color:#FFF;
font-size:9pt;
border:1px solid #000;
width:160px;
padding:5px;
}

a.button:hover, a.button:active, a.button:visited {
color:#fff;
text-decoration: underline;
}

table#object {
width:60%;
}

div#object_payable {
width:40%;
float:left;
color:#666;
margin:1em;
padding:1.5em;
}

form#Form_ObjectForm {
width:40%;
float:left;
margin:1em;
padding:1.5em;
}

form#Form_ObjectForm div.middleColumn {
background-color:#fff;
width:230px;
margin:0 0 5px;
padding:0;
}

form#Form_ObjectForm span.message {
clear:both;
display:block;
width:12em;
margin:0 0 5px;
}

form#Form_ObjectForm input.text,form#Form_ObjectForm textarea,form#Form_ObjectForm select {
width:auto;
}

div#objectconfirmation {
border:1px solid #C8C4C3;
margin-bottom:2em;
padding:1em;
}

div#objects div.object h6.price,form#Form_ObjectForm label {
margin:0;
}

h5 {
    margin: 0;
    padding: 0;
}