body {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    margin: 0;
    font-size: 83.33%;
}

h1 {
    margin: 0 0 1em;
    padding: 0.5em;
    font-size: 1.6em;
}

h2 {
    margin: 0.5em 0;
    font-size: 1.4em;   
}

p {
    margin: 0.5em;  
}

p.description {
    font-size: 0.8em;
    padding: 1em;
    position: absolute;
    top: 3.2em;
    margin-right: 400px;
}

#message {
    font-size: 0.7em;
    position: absolute;
    top: 1em; 
    right: 1em;
    width: 350px;
    display: none;
    padding: 1em;
    background: #ffc;
    border: 1px solid #dda;
}

#calendar-wrap {
    text-align: center;
    clear: both;
    margin: 10px;	
}

#calendar {
    /* border-bottom: 1px solid #AAAAAA; */
    width: 725px;
    height: 520px;
    margin: auto;
}

#calendar td {
    /* border: inherit; */	
}

#calendar div.wc-header td {
    border: 0;  
}

table.wc-time-slots td {
    border: 0;	
}

/*
div.wc-scrollable-grid {
	border: 1px solid #AAAAAA;
}
*/
.ui-widget {
	font-size: 1em;	
}

#event_edit_container {
	display: block;
}

#about_button_container {
	position: absolute;
	top: 0em;
	right: 0em;	
	padding: 0.5em 2em;
	background: #ddf;
	border: 1px solid #bbd;
	width: 25em;
	text-align: center;
}

.wc-header td {
/*	background: url(images/header-bg.png) repeat-x;*/
}

#event_edit_container label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

form ul {
	padding: 0.3em;
}

select, input[type='text'], textarea {
	width: 250px;
	padding: 3px;
}

input[type='text'] {
	width: 245px;
}

ul.formatted,ol.formatted {
	display: block;
	margin: 1em 0.5em;
}

ul.formatted li,ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

ul.formatted li {
	list-style-type: disc;
}

ol.formatted li {
	list-style-type: decimal;
}
#switcher{
    float:left;
}
#calendar table {
    margin: 0;	
}

